@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --bg-color-purple: rgba(136, 72, 249, 1);
  --bg-color-purple-hover: rgb(122, 48, 251);
  --text-color-gray: rgba(127, 127, 127, 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --bg-color: var(--bg-color-purple);
  --bg-color-hover: var(--bg-color-purple-hover);
  --text-color: var(--text-color-gray);
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}